.operation-head {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 0.7rem;
  margin-left: 0.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 400;
}
